
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 23px;
    margin-top: 100px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 30px;
    width: fit-content;
    box-shadow: 0 2px 10px rgb(0 0 0 / 43%);
  }
  .login-img{
    height: 147px;
    width: 157px;
  }
  .update-btn{
    width: 198px;
    height: 39px;
    /* padding-top: 3px; */
    font-size: 20px;
    margin-top: 5px;
    background-color: #0e086a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 10px rgb(0 0 0 / 43%);  }
  .update-btn:hover,
  .update-btn:active {
    background: #1b1296;
    border-color: #1c2ed3;
  }
  
  .update-btn:focus {
    outline: none;
  }
