.row{
    margin: 100px;
    justify-content: center;
    
}
.row .update{
    background-color:blueviolet;
}
.input{
    justify-content: center;
    margin: 20px;

}
.button{
    justify-content: center;
    display: flex;
    margin: 70px;
}
.clear{
    margin-right: 20px;

}