.tbody{
    height: 250px;
    background-color: #dad6d6;
    display:flexbox;
    align-content: center;

}

.th{
    background-color:dad6d6;
    align-items: center;
    align-content: center;
    font-weight: 300;

}
.caption{
    text-align: center;
    background-color: rgb(78, 222, 174);
    color: crimson;
}

.wrap{
    
    background-color: burlywood;
}