
*{
  margin: auto;
}
.mainclass{
  margin-top: 100px;

  }
  .submain{
    box-shadow: 1px 12px 13px 5px rgb(196 199 239);
    border-radius: 60px;
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }
  .imgs{
  padding-top: 20px;
  Justify-content: center; 
  display: flex;
  }
  .containerimage{
  border-radius: 150px; 
  align-items: center;
  display: flex;
  height: 115px; 
  width: 115px;
  }
  .login{
    text-align: center;
  }
  .profile{
    height: 120px;
    width: 120px;
    border-radius: 130px;
  }
  .inputField{
    width: 300px;
    height: 50px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 25px 0px #818183d4;
    border:none;
    outline: none;
    background-color: #fff;
    font-size: 20px;
    margin: 2px;
    width: 200px;
    text-align: center;
    font-size: large;
  }
    
.admin-text{
  font-size: larger;
  font-weight: bold;
}
  
  .second-input{
    padding-top:20px;
  }
  .login-button{
    width: 150px;
    height: 50px;
    border-radius: 60px;
    background-color: #0e086a;
    color: white;
    font-size: large;
    border: none;
    margin-bottom: 25px;
  }
  .login_button{
    padding-top: 16px;
  }
  .login-button:hover,
  .login-button:active {
    background: #1b1296;
    border-color: #1c2ed3;
  }
  
  .login-button:focus {
    outline: none;
  }
  .link{
    font-size: 25px;
    font-weight: 400;
  }
  
  
  