
.app{
 width: 100%;

}
.app > .row{
  display: flex;
  width: 100%;
  margin-top: 156px;

}

.app > .row > .card-column{
  flex:1;
  margin-left: 10px;

}

.app > .row > .searcharea-column{
  flex:7;


}

.searcharea-column .autocomplete-wrapper{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;

}

.searcharea-column .autocomplete-wrapper-table{
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  border-color: blueviolet;
  border-radius: 20px;
}
