.flex{
    display:flex;
    background-color:blue;
    flex-direction: row;
    flex-wrap: wrap;
}
.flexautodiv{
    display:flex;
    
    flex-direction: row;
    flex-wrap: wrap;
    position:static;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: white;

    align-items:flex-start;
    margin-top: 1%;
    margin-left: 3%;
    padding: 0 0;
}
.flexauto{
    align-self: center;
    margin-left: 20%;
}

