body {
    font-family: sans-serif;
    /* background-image: url('./assets/triangles-3320452.png'); */
    background-color: #ffffff;
    background-attachment: fixed;
    background-position: center;
    background-size: cover ;
  }
  
  input {
    border: 1px solid #999;
    padding: 0.5rem;
    /* width: 300px; */
    
  }
  
  .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    padding-left: 0;
    width: calc(398px + 1rem);
    position: absolute;
    background-color: white;
  }
  
  .suggestions li {
    padding: 0.5rem;
    position: relative;
    bottom: 0;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color:rgba(226, 111, 255, 0.649);
    color: #000000;
    cursor: pointer;
    font-weight: 700;
    position: relative;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
    position: relative;
  }

  
  