.button {
    font: inherit;
    border: 1px solid #f4f4f8;
    background: #0e086a;
    color: white;
    padding: 0.5rem 0.1rem;
    cursor: pointer;
    box-shadow: 0px 1px 3px rgba(115, 115, 115, 0.851);
    width: 100px;
    border-radius: 5px;
  }
  
  .button:hover,
  .button:active {
    background: #1b1296;
    border-color: #1c2ed3;
  }
  
  .button:focus {
    outline: none;
  }